body {
    margin: 0px;
    background-color: rgb(227, 230, 227);
  }
  #main-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  #navbar {
    background-color: rgb(1, 146, 113);
    display: grid;
    height: auto;
    grid-template-columns: repeat(13, 1fr);
    justify-items: baseline;
    align-items: center;
    gap: 5px;
    color: white;
    /* border:2px solid red; */
    font-size: 14px;
  }
  #navbar img {
    width: 100px;
    height: 60px;
    margin-left: 20px;
  }
  #search-img img {
    width: 30px;
    height: 30px;
  }
  #search-img1 img {
    width: 30px;
    height: 30px;
  }
  #crickbuz-nav p {
    border-radius: 20px;
    background-color: white;
    color: black;
    padding-left: 30px;
    padding-right: 25px;
  }
  .dropbtn {
    background-color: rgb(1, 146, 113);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    color:black;
    position: absolute;
    background-color:white;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
  }
  
  .dropdown-content a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(0, 129, 99);
  }
  
  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    /* border: 2px solid black; */
  }
  #header-bottom {
    background-color: rgb(74, 74, 74);
    color: aliceblue;
  }
  
  #bottomNav {
    /* border: 2px solid red; */
    background-color: rgb(74, 74, 74);
    width: 100%;
    height: 60px;
    color:white;
    display: flex;
    gap:40px;
  }
  #top {
    background-color: rgb(254, 255, 254);
    width: 100%;
    height: 200px;
  }
  #scoreCard {
    display: flex;
  }
  #scoreCard div {
    margin: 20px;
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .div1 {
    grid-area: 1 / 1 / 4 / 2;
    /* border: 2px solid red; */
    background-color: rgb(254, 254, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      hsl(216, 12%, 84%) 0px 0px 0px 1px inset;
    padding: 11px;
    color: black;
  }
  
  .div2 {
    grid-area: 1 / 2 / 6 / 5;
    /* border: 2px solid red; */
    background-color: rgb(254, 254, 255);
    height: auto;
    padding: 20px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    margin-left: auto;
  }
  .div3 {
    grid-area: 1 / 5 / 4 / 6;
    /* border: 2px solid red; */
    background-color: rgb(254, 254, 255);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
      rgb(209, 213, 219) 0px 0px 0px 1px inset;
    padding: 11px;
    text-decoration: none;
  }
  .div1 a {
    text-decoration: none;
  }
  .mini-div {
    display: flex;
    gap: 30px;
    margin-left: 10px;
    font-weight: bold;
    /* background-color: aqua; */
  }
  .status {
    color: blue;
    margin-left: 10px;
  }
  h2,
  h3 {
    color: rgb(1, 147, 112);
  }
  .div2 img {
    width: 90%;
  }
  
  #foot {
    background-color: rgb(74, 74, 74);
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    justify-content: space-between;
    padding: 60px;
  }
  #foot > div > h2 {
    color: white;
  }
  
  #footer-img {
    width: 200px;
    height: 80px;
  }
  #foot > div:first-child {
    margin: 100px;
  }
  #copyright {
    background-color: aqua;
  }
  #copyright {
    color: white;
    padding: 2px;
    background-color: rgb(75, 75, 75);
  }
  